
	<h2>My Engagement一覧画面(Practice/Advane用)</h2>

	<div class="panel-group" id="accordion">
	<div class="panel-heading">
	<h4 class="panel-title">
		<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
			Fillter
		</a>
	</h4>
	</div>
	<div id="collapseOne" class="panel-collapse collapse in">
	<div class="panel-body">

		<!-- ここから閉じる -->
		<table class="table table-bordered">
			<form action="" method="post" name="form1" id="">
			<thead>
			</thead>
			<tbody class="col-xs-8">
			<tr>
				<td class="info text-right col-xs-2">Company Code</td>
				<td class="col-xs-4">
					<div class="company_code">
						<div class="col-xs-12">
							<select name="selCompanyCode" onChange="changeCompanyCode(this)">
							  <option value="0" selected>(Company Code)
							  <option value="1">Company Code1
							  <option value="2">Company Code2
							  <option value="3">Company Code3
							  <option value="4">Company Code4
							  <option value="5">Company Code5
							  <option value="6">Company Code6
							</select>
						</div>
					</div>
				</td>
				<td class="info text-right col-xs-2">Profile Center</td>
				<td class="col-xs-4">
					<div class="company_code">
						<div class="col-xs-12">
							<select name='setProfileCenter'>
								<option value="0" selected>(Profile Center)
							</select>
						</div>
					</div>
				</td>
			</tr>


			<tr>
				<td class="info text-right">Engagement Code/Name</td>
				<td>
					<div class="col-xs-12">
						<input name='setEngagementCode' type="text" class="form-control">
					</div>
				</td>
				<td class="info text-right">Entity Code/Name</td>
				<td>
					<div class="company_code">
						<div class="col-xs-12">
							<input type="text" class="form-control">
						</div>
					</div>
				</td>
			</tr>
			<tr>
				<td class="info text-right">Engagement Start Date</td>
				<td>
					<div class="company_code">
						<div class="col-xs-5">
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="col-xs-2">～</div>
					<div class="company_code">
						<div class="col-xs-5">
							<input type="text" class="form-control">
						</div>
					</div>
				</td>
				<td class="info text-right">EN</td>
				<td>
					<div class="company_code">
						<div class="col-xs-12">
							<input type="text" class="form-control">
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<td class="info text-right">Engagement End Date</td>
				<td>
					<div class="company_code">
						<div class="col-xs-5">
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="col-xs-2">～</div>
					<div class="company_code">
						<div class="col-xs-5">
							<input type="text" class="form-control">
						</div>
					</div>
				</td>
				<td class="info text-right">EP</td>
				<td>
					<div class="company_code">
						<div class="col-xs-12">
							<input type="text" class="form-control">
						</div>
					</div>
				</td>
			</tr>

			<tr>
				<td rowspan=2 class="info text-right">Fiscal End Date</td>
				<td rowspan=2>
					<div class="company_code">
						<div class="col-xs-5">
							<input type="text" class="form-control">
						</div>
					</div>
					<div class="col-xs-2">～</div>
					<div class="company_code">
						<div class="col-xs-5">
							<input type="text" class="form-control">
						</div>
					</div>
				</td>
				<td class="info text-right">Status</td>
				<td>
					<div class="col-xs-12">
					<input type="checkbox" name="Draft"  value="1" id="i1"><label for="i1">Draft</label>
					<input type="checkbox" name="Open"   value="1" id="i2"><label for="i2">Open</label>
					<input type="checkbox" name="Frozen" value="1" id="i3"><label for="i3">Frozen</label>
					<input type="checkbox" name="Close"  value="1" id="i4"><label for="i4">Close</label>
					</div>
				</td>
			</tr>

			<tr>
				<td class="info text-right">other</td>
				<td>
					<div class="col-xs-12">
						<input type="checkbox" name="amount_only" value="1" id="i5">
						<label for="i5">Actual Revenue Exceeded Contract Amount Only</label>
					</div>
				</td>
			</tr>
			</form>
			</tbody>
		</table>


		<!-- button -->
		<div class="col-xs-12">
			<button type="submit" class="btn btn-primary">Search</button>
			<button type="submit" class="btn btn-primary">Export</button>
			<button type="submit" class="btn btn-primary" onClick="clearButton()">Clear</button>
		</div>

		<!-- ここまで閉じる -->
	  </div>
	</div>
	</div>
	</div>

	<table>
		<tr>
			<td width=120><b>Total <%= @total_count %> results</b></td>
			<td><%= paginate(@engagements) %></td>
		</tr>
	</table>
	<table border="1">
	  <thead>
	    <tr>
	      <th>Engagement number</th>
	      <th>Engagement descr</th>
	      <th>Engagement legacy number</th>
	      <th>Em sap personnel number</th>
	      <th>Em legacy emplid</th>
	      <th>Ep sap personnel number</th>
	      <th>Ep legacy emplid</th>
	      <th>Erp realization rate</th>
	      <th>Entity number</th>
	      <th>Profit center</th>
	      <th>Local service type</th>
	      <th>Local service type descr</th>
	      <th>Company code</th>
	      <th>Engagement status</th>
	      <th>Engagement type</th>
	      <th>Profit center descr</th>
	      <th>Assistant name</th>
	      <th>Assistant sap personnel number</th>
	      <th>Assistant legacy emplid</th>
	      <th>Em name</th>
	      <th>Ep name</th>
	      <th>Engagement type descr</th>
	      <th>Entity name</th>
	      <th>Lead engagement number</th>
	      <th>San expirty date</th>
	      <th>Confidential engagment</th>
	      <th>San start date</th>
	      <th>Contract amount</th>
	      <th>Fiscal end date</th>
	      <th>Contract type</th>
	      <th>Deleted at</th>
	      <th>Created at</th>
	      <th>Updated at</th>
	      <th colspan="3"></th>
	    </tr>
	  </thead>

	  <tbody>
	    <% @engagements.each do |engagement| %>
	      <tr>
	        <td>￥<%= number_with_delimiter(engagement.engagement_number) %></td>
	        <td>
	        	<% if engagement.engagement_descr.to_s != "" %>
	        	<%= link_to engagement.engagement_descr, ect_engagement_class_plan_values_path(engagement.engagement_number) %>
	        	<% else %>
	        	<%= link_to "LINK", ect_engagement_class_plan_values_path(engagement.engagement_number) %>
	        	<% end %>
	        </td>
	        <td><%= engagement.engagement_legacy_number %></td>
	        <td><%= engagement.em_sap_personnel_number %></td>
	        <td><%= engagement.em_legacy_emplid %></td>
	        <td><%= engagement.ep_sap_personnel_number %></td>
	        <td><%= engagement.ep_legacy_emplid %></td>
	        <td><%= engagement.erp_realization_rate %></td>
	        <td><%= engagement.entity_number %></td>
	        <td><%= engagement.profit_center %></td>
	        <td><%= engagement.local_service_type %></td>
	        <td><%= engagement.local_service_type_descr %></td>
	        <td><%= engagement.company_code %></td>
	        <td><%= engagement.engagement_status %></td>
	        <td><%= engagement.engagement_type %></td>
	        <td><%= engagement.profit_center_descr %></td>
	        <td><%= engagement.assistant_name %></td>
	        <td><%= engagement.assistant_sap_personnel_number %></td>
	        <td><%= engagement.assistant_legacy_emplid %></td>
	        <td><%= engagement.em_name %></td>
	        <td><%= engagement.ep_name %></td>
	        <td><%= engagement.engagement_type_descr %></td>
	        <td><%= engagement.entity_name %></td>
	        <td><%= engagement.lead_engagement_number %></td>
	        <td><%= engagement.san_expirty_date %></td>
	        <td><%= engagement.confidential_engagment %></td>
	        <td><%= engagement.san_start_date %></td>
	        <td><%= engagement.contract_amount %></td>
	        <td><%= engagement.fiscal_end_date %></td>
	        <td><%= engagement.contract_type %></td>
	        <td><%= engagement.deleted_at.strftime("%Y-%m-%d") %></td>
	        <td><%= engagement.created_at.strftime("%Y-%m-%d") %></td>
	        <td><%= engagement.updated_at.strftime("%Y-%m-%d") %></td>
	        <td><%= link_to 'Show', ect_engagement_path(engagement) %></td>
	        <td><%= link_to 'Edit', edit_ect_engagement_path(engagement) %></td>
	        <td><%= link_to 'Destroy', ect_engagement_path(engagement), method: :delete, data: { confirm: 'Are you sure?' } %></td>
	      </tr>
	    <% end %>
	  </tbody>
	</table>

<br>

※デバッグ追加用
<%= link_to 'New Engagement', new_ect_engagement_path %>

