<%= form_for(@engagement, :url => ect_engagements_path(@engagement)) do |f| %>
  <% if @engagement.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@engagement.errors.count, "error") %> prohibited this engagement from being saved:</h2>

      <ul>
      <% @engagement.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :engagement_number %><br>
    <%= f.text_field :engagement_number %>
  </div>
  <div class="field">
    <%= f.label :engagement_descr %><br>
    <%= f.text_field :engagement_descr %>
  </div>
  <div class="field">
    <%= f.label :engagement_legacy_number %><br>
    <%= f.text_field :engagement_legacy_number %>
  </div>
  <div class="field">
    <%= f.label :em_sap_personnel_number %><br>
    <%= f.number_field :em_sap_personnel_number %>
  </div>
  <div class="field">
    <%= f.label :em_legacy_emplid %><br>
    <%= f.text_field :em_legacy_emplid %>
  </div>
  <div class="field">
    <%= f.label :ep_sap_personnel_number %><br>
    <%= f.number_field :ep_sap_personnel_number %>
  </div>
  <div class="field">
    <%= f.label :ep_legacy_emplid %><br>
    <%= f.text_field :ep_legacy_emplid %>
  </div>
  <div class="field">
    <%= f.label :erp_realization_rate %><br>
    <%= f.text_field :erp_realization_rate %>
  </div>
  <div class="field">
    <%= f.label :entity_number %><br>
    <%= f.text_field :entity_number %>
  </div>
  <div class="field">
    <%= f.label :profit_center %><br>
    <%= f.text_field :profit_center %>
  </div>
  <div class="field">
    <%= f.label :local_service_type %><br>
    <%= f.text_field :local_service_type %>
  </div>
  <div class="field">
    <%= f.label :local_service_type_descr %><br>
    <%= f.text_field :local_service_type_descr %>
  </div>
  <div class="field">
    <%= f.label :company_code %><br>
    <%= f.text_field :company_code %>
  </div>
  <div class="field">
    <%= f.label :engagement_status %><br>
    <%= f.text_field :engagement_status %>
  </div>
  <div class="field">
    <%= f.label :engagement_type %><br>
    <%= f.text_field :engagement_type %>
  </div>
  <div class="field">
    <%= f.label :profit_center_descr %><br>
    <%= f.text_field :profit_center_descr %>
  </div>
  <div class="field">
    <%= f.label :assistant_name %><br>
    <%= f.text_field :assistant_name %>
  </div>
  <div class="field">
    <%= f.label :assistant_sap_personnel_number %><br>
    <%= f.number_field :assistant_sap_personnel_number %>
  </div>
  <div class="field">
    <%= f.label :assistant_legacy_emplid %><br>
    <%= f.text_field :assistant_legacy_emplid %>
  </div>
  <div class="field">
    <%= f.label :em_name %><br>
    <%= f.text_field :em_name %>
  </div>
  <div class="field">
    <%= f.label :ep_name %><br>
    <%= f.text_field :ep_name %>
  </div>
  <div class="field">
    <%= f.label :engagement_type_descr %><br>
    <%= f.text_field :engagement_type_descr %>
  </div>
  <div class="field">
    <%= f.label :entity_name %><br>
    <%= f.text_field :entity_name %>
  </div>
  <div class="field">
    <%= f.label :lead_engagement_number %><br>
    <%= f.text_field :lead_engagement_number %>
  </div>
  <div class="field">
    <%= f.label :san_expirty_date %><br>
    <%= f.date_select :san_expirty_date %>
  </div>
  <div class="field">
    <%= f.label :confidential_engagment %><br>
    <%= f.text_field :confidential_engagment %>
  </div>
  <div class="field">
    <%= f.label :san_start_date %><br>
    <%= f.date_select :san_start_date %>
  </div>
  <div class="field">
    <%= f.label :contract_amount %><br>
    <%= f.text_field :contract_amount %>
  </div>
  <div class="field">
    <%= f.label :fiscal_end_date %><br>
    <%= f.date_select :fiscal_end_date %>
  </div>
  <div class="field">
    <%= f.label :contract_type %><br>
    <%= f.text_area :contract_type %>
  </div>
  <div class="field">
    <%= f.label :deleted_at %><br>
    <%= f.datetime_select :deleted_at %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
