<h2>Engagement詳細画面</h2>

<!-- メニューやら何やら -->


	<table class="table table-bordered">
		<thead>
		</thead>
		<tbody>

		<tr>
			<td class="info text-right">Entity</td>
			<td>名前</td>
			<td class="info text-right">Entity Code</td>
			<td>CLT01</td>
		</tr>

		<tr>
			<td class="info text-right">Engagement Name</td>
			<td></td>
			<td class="info text-right">Engagement Code</td>
			<td></td>
		</tr>

		<tr>
			<td class="info text-right">Engagement Partner</td>
			<td></td>
			<td class="info text-right">Start Date/End Date</td>
			<td></td>
		</tr>

		<tr>
			<td class="info text-right">Engagement Manager</td>
			<td></td>
			<td class="info text-right">Fiscal End Date</td>
			<td></td>
		</tr>

		<tr>
			<td class="info text-right">Engagement Assistant</td>
			<td></td>
			<td class="info text-right">Service Type</td>
			<td></td>
		</tr>

		<tr>
			<td class="info text-right">Engagement Assistant</td>
			<td></td>
			<td class="info text-right">Service Type</td>
			<td></td>
		</tr>

		<tr>
			<td class="info text-right">Engagement Type</td>
			<td></td>
			<td class="info text-right">Contact Type<td>
			<td></td>
		</tr>

		<tr>
			<td class="info text-right">Contract Amount</td>
			<td></td>
			<td class="info text-right">Actual Subcontract Fee</td>
			<td></td>
		</tr>

		<tr>
			<td class="info text-right">Total Contract Amount</td>
			<td></td>
			<td class="info text-right">ERP(IBS)</td>
			<td></td>
		</tr>

		</tbody>
	</table>

	<button class="btn btn-primary" onClick="window.close(); return false;">Close</button>
