
<h2>計画工数編集画面</h2>

<div class="panel-group" id="accordion">
<div class="panel-heading">
<h4 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		Fillter
	</a>
</h4>
</div>
<div id="collapseOne" class="panel-collapse collapse in">
<div class="panel-body">

	<!-- ここから閉じる -->
	<table class="table table-bordered">
		<form action="" method="post" name="form1" id="">
		<thead>
		</thead>
		<tbody class="col-xs-12">

		<tr>
			<td class="info text-right">Engagement</td>
			<td>コード＆名前</td>
			<td class="info text-right">Start Date/End Date</td>
			<td>2015/06/01 ～ 2015/09/01</td>
			<td class="info text-right">Version</td>
			<td>1</td>
		</tr>


		<tr>
			<td class="info text-right">Contract Amount</td>
			<td>￥900,000,000</td>
			<td class="info text-right">Actual Subcontract Fee</td>
			<td>￥900,000,000</td>
			<td class="info text-right">ERP(IBS)</td>
			<td>50.00%</td>
		</tr>

		<tr>
			<td class="info text-right">Total Contract Amount</td>
			<td>￥900,000,000</td>
			<td class="info text-right">Planned Subcontract Fee</td>
			<td>￥900,000,000</td>
			<td class="info text-right">Planned ERP</td>
			<td>50.00%</td>
		</tr>

		</form>
		</tbody>
	</table>


	<!-- button -->
	<table class="col-xs-6">
		<tr>
			<td><%= button_to('Back To Show', ect_engagement_class_plan_values_path(@engagement_id), :method => :get, :class => "btn btn-primary")  %></td>
			<td><button type="submit" class="btn btn-primary">ERP Calculatet</button></td>
			<td><button type="submit" class="btn btn-primary">Save</button></td>
			<td><%= button_to('Class Setting', select_ect_engagement_local_job_levels_path(@engagement_id), :method => :get, :class => "btn btn-primary")  %></td>
		</tr>
	</table>

	<!-- ここまで閉じる -->
  </div>
</div>
</div>
</div>


<br>


<table>

	<tr>
		<th>Class</th>
		<th>Plan</th>
	</tr>

</table>
