
<h2>計画バージョン一覧表示</h2>

<!-- メニューやら何やら -->


	<table class="table table-bordered">
		<thead>
		</thead>
		<tbody>
		<tr>
			<td class="info text-right">Engagement</td>
			<td>コード＆名前</td>

			<td class="info text-right">Start Date/End Date</td>
			<td>日付 ～ 日付</td>

		</tr>
		</tbody>
	</table>

	<!-- button -->
	<%= button_to('Back', ect_engagement_class_plan_values_path(@engagement_id), :method => :get, :class => "btn btn-primary")  %>

	<br>

	<p>Total XX results</p>

	<table class="table table-bordered">

		<thead>
			<tr class="info text-right">
				<th>Version</th>
				<th>Last Update Date</th>
				<th>Last Update User</th>
				<th>ERP</th>
			</tr>
		</thead>

		<tbody>
			<tr>
				<td>
					20
	        		<%= link_to 'リンク', ect_engagement_plan_version_class_plan_values_path(@engagement_id, 20) %>
				</td>

				<td>2014-10-20 23:59:59</td>
				<td>test test</td>
				<td>50.00%</td>
			</tr>
		</tbody>

	</table>
