
<h2>Class選択</h2>

	<table class="table table-bordered">
		<thead>
		</thead>
		<tbody class="col-xs-12">

		<tr>
			<td class="info text-right">Engagement</td>
			<td>コード＆名前</td>
		</tr>
		</tbody>
	</table>

	<br>


	<table class="table table-bordered">
		<thead>
		</thead>
		<tbody class="col-xs-12">

		<tr>
			<td rowspan=8 class="info text-right">Class</td>
		</tr>
		<tr>
			<td>Partner</td>
		</tr>
		<tr>
			<td>Associate Partner</td>
		</tr>
		<tr>
			<td>Managing Director</td>
		</tr>
		<tr>
			<td>Director</td>
		</tr>
		<tr>
			<td>Technical Director</td>
		</tr>
		<tr>
			<td>Senior Manager</td>
		</tr>
		<tr>
			<td>Manager</td>
		</tr>

		</tbody>
	</table>

	<!-- button -->
	<%= button_to('Setting', set_ect_engagement_local_job_levels_path(@engagement_id), :method => :get, :class => "btn btn-primary", :name => "setting")  %>


