<!DOCTYPE html>
<html>
<head>
  <title>IbsLocalSystem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

	<!-- Bootstrap -->
	<link href="/ect/stylesheets/bootstrap.min.css" rel="stylesheet">

</head>

<body class="col-xs-12">

<%= yield %>


<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="/ect/javascripts/bootstrap.min.js"></script>
<!-- Open&Close -->
<script src="/ect/javascripts/opclz.js"></script>

<!-- ====================== -->
<!-- MediaTableのスクリプト -->
<!-- ====================== -->
<script type="text/javascript" src="/ect/javascripts/tablesorter/jquery-latest.js"></script>
<script type="text/javascript" src="/ect/javascripts/tablesorter/jquery.metadata.js"></script>
<script type="text/javascript" src="/ect/javascripts/tablesorter/jquery.tablesorter.min.js"></script>



</body>
</html>
