
<h2>計画工数照会画面</h2>

<div class="panel-group" id="accordion">
<div class="panel-heading">
<h4 class="panel-title">
	<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
		Fillter
	</a>
</h4>
</div>
<div id="collapseOne" class="panel-collapse collapse in">
<div class="panel-body">

	<!-- ここから閉じる -->
	<table class="table table-bordered">

		<thead>
		</thead>
		<tbody class="col-xs-12">

		<tr>
			<td class="info text-right">Engagement</td>
			<td>コード＆名前</td>
			<td class="info text-right">Start Date/End Date</td>
			<td>2015/06/01 ～ 2015/09/01</td>
			<td class="info text-right">Version</td>
			<td>1</td>
		</tr>


		<tr>
			<td class="info text-right">Contract Amount</td>
			<td>￥900,000,000</td>
			<td class="info text-right">Actual Subcontract Fee</td>
			<td>￥900,000,000</td>
			<td class="info text-right">ERP(IBS)</td>
			<td>50.00%</td>
		</tr>

		<tr>
			<td class="info text-right">Total Contract Amount</td>
			<td>￥900,000,000</td>
			<td class="info text-right">Planned Subcontract Fee</td>
			<td>￥900,000,000</td>
			<td class="info text-right">Planned ERP</td>
			<td>50.00%</td>
		</tr>

		</tbody>
	</table>


	<!-- button -->
	<table class="col-xs-6">
		<tr>
			<td>
				<% if @bk_flag == true %>
					<button disabled class="btn btn-primary">Edit</button>
				<% else %>
					<%= button_to('Edit', edit_ect_engagement_class_plan_values_path(@engagement_id), :method => :get, :class => "btn btn-primary")  %>
				<% end %>
			</td>

			<td>
				<%= button_to('Version List', ect_engagement_plan_versions_path(@engagement_id), :method => :get, :class => "btn btn-primary")  %>
			</td>

			<td>
				<form action="<%= @engagement_detail %>" class="button_to" method="get" target="_blank">
					<input class="btn btn-primary" type="submit" value="Engagement Detail" />
				</form>
			</td>

			<td>
				<%= form_tag @redirect_url, :method => 'get' do %>
				<%= submit_tag "Export", :class => "btn btn-primary", :name => "button" %>
				<% end %>
			</td>

			<td>
				<%= button_to('Back To List', ect_engagements_path, :method => :get, :class => "btn btn-primary")  %>
			</td>
		</tr>
	</table>

	<!-- ここまで閉じる -->
  </div>
</div>
</div>
</div>


<br>


<table>

	<tr>
		<th>Class</th>
		<th>Plan</th>
	</tr>

</table>
